page{
    .x-mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0, .2);
        z-index: 999;
    }

    .x-select-dialog{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: #fff;
        transform: translateY(100%);
        transition: all .25s ease;

        .x-select-header{
            position: relative;
            padding: 20rpx;
        }

        .x-select-option{
            position: relative;
        }
    }

    .animation{
        transform: translateY(0);
    }
}