page{
    .x-select-dialog{
        $selectedColro: #ED174C;
        .x-selected-option{
            background: rgba(237,23,76,.1);

            .label{
                color: $selectedColro;
            }

            .desc{
                color: $selectedColro;
                opacity: .7;
            }

            &::after{
                content: '√';
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24rpx;
                position: absolute;
                right: 40rpx;
                top: 50%;
                transform: translateY(-50%);
                width: 36rpx;
                height: 36rpx;
                line-height: 36rpx;
                text-align: center;
                border-radius: 50%;
                color: #fff;
                background: $selectedColro;
            }
        }
    }
}